.inner-container {
    gap: 1.5rem;
    background: #161617;
    padding: 2rem;
    border-radius: 10px;
    /* border: 6px solid #5d77d6; */
    text-align: center;
}
.inner-container .primaryText{
    color: white;
    font-weight: 600;
}
.inner-container .secondaryText{
    color: rgba(255, 255, 255, 0.587);
}

.inner-container .button {
    background: #000000;
    border: 2px solid white;
    box-shadow: inset 0px -12px 20px 0px rgba(136, 160, 255, 0.25);
    border-radius: 10px;
}